* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0; */
/* outline: none; */
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body {
    background-color: #e2f0e7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-us { 
background-color: #ffffff;
}